body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin: 10% 0;
}
.task-list{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.task-item{

  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #048ce0;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.font-text{
  color: white;
  text-transform: capitalize;
 
}

.delete-btn ,.complete-btn{
  border: none;
  font-size: 18px;
  cursor:pointer;
  margin:  0 3px;
  border-radius: 5px;

}
.complete-btn{
  color: green;
}
.completed{
  background: #16bd3d;
}
.info-date ,.task-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .completed{
  text-decoration: line-through;
  color: gray;
} */
.task-checkbox{
  transform: scale(1.3);
}
.no-tasks{
  text-align:center;
  color: rgb(229, 7, 7);
  font-size: 18px;
  margin: 20px 0;
}

.task-form{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.task-input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
  border: 1px solid #ddd;
}
.task-input:focus{
  border-color: #048ce0;
}
.task-button{
  background-color: #048ce0;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.task-button:hover{
background-color: #0056b3;
}

.date-input{
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media(max-width:650px){
  .task-form {
  display: flex;
  flex-direction: column;}
  .info-date{
    display: inline-block;
}
}
